

header {
    position: absolute;
    background-size: cover;
    height: 100vw;
    background-image: url(/header/header.png);
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.knap {
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.knap button {
    margin-top: 30px;
    margin-left: 900px;
}

.logo-knap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    background-color: #000000;
    color: #d0cccc;
    border-radius: 40px 40px 40px 40px;
    height: 40px;
    width: 150px;
}

button a {
    text-decoration: none;
    color: #d0cccc;

}

svg {
    height: 30vw;
    color: #fff;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 290vh; 
    background-color: #059335;
    margin-top: 150px;
}

#road {
    position: fixed;
    left: 88%;
    transform: translateX(-84%);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    scale: 150%;
    
}

#character {
    position: fixed;
    left: 49.3%;
    transform: translateX(-44%);
    width: 130px;
    height: auto;
}

#road-link {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 100;

    

    display: inline-block;
    
    
   
}

#road-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: scale(1.1);
}
#slider-link {
    position: absolute;
    top: 40%;
    right: 30%;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 99;
    display: inline-block;
    
}

#slider-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: scale(1.1);
}
#medlem-link{
       position: absolute;
         left: 30%;
    top: 1100px;
     color: white;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 100;
}
#medlem-link:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: scale(1.1);
}
 #nyhedsbrev-link{
    position: absolute;
    left: 55%;
    top: 1000px;
     color: white;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 100;
 }
#nyhedsbrev-link:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: scale(1.1);
}
#contact-link{
    position: absolute;
    left: 55%;
    top: 1800px;
     color: white;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 100;
}
#contact-link:hover{
      background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: scale(1.1);
}

.trold {
    position: absolute;
    height: 200px;
    top: 245%;
    right: 40%;
}

.elver {
    position: absolute;
    height: 250px;
    top: 70%;
    right: 50%;
}

.købmand {
    position: absolute;
    height: 150px;
    top: 160%;
    right: 55%;
}
