* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    text-align: center;
    transition: transform 0.3s ease;
       background-size: cover;
    height: 40vw;
  background-image: url(/header/header.png);
  background-repeat: no-repeat;
   
}

#main-header.hidden {
    transform: translateY(-100%);
   
}

#main-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#main-header nav ul li {
    display: inline;
}

#main-header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#main-header nav ul li a:hover {
    background-color: #555;
    color: #ddd;
}
header {
    background-size: cover;
    height: 50vw;
  background-image: url(/header/header.png);
  background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.knap {
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.knap button {
    margin-top: 30px;
    margin-left: 900px;
}
.logo-knap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    background-color: #000000;
    color: #d0cccc;
    border-radius: 40px 40px 40px 40px;
    height: 40px;
    width: 150px;
}

button a {
    text-decoration: none;
     color: #d0cccc;

}
svg {
    height: 30vw;
    color: #fff;
}
.hidden {
    display: none;
    /* Skjuler elementet */
}



