@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Macondo&display=swap");

button {
  background-color: #059335;
  list-style: none;
  padding: 10px;
  width: 90px;
  border-radius: 30px;
  border: none;
  margin-left: 50px;
}
button a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.downloade button {
  padding: 20px;
  width: 400px;
}
.downloade button a {
  font-size: 20px;
}
.downloade {
  margin-top: 70px;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #059335;
  padding-top: 20px;
  font-family: "Macondo";
}
img {
  width: 400px;
  justify-items: center;
}
h3 {
  font-size: 20px;
  width: 700px;
  justify-items: center;
}
h2 {
  color: #059335;
  text-align: center;
  font-size: 30px;
  font-family: "Macondo";
}
p {
  font-size: 15px;
  font-weight: 400;
}

.header {
  justify-items: center;
}
.BlivMedlem {
  justify-items: center;
  height: 1000px;
  background-color: white;
  width: 900px;
}
.width {
  justify-items: center;
}
.backgrund {
  background-image: url(./background3.jpeg);
  background-position: bottom;
  padding: 37px;
}

@media (max-width: 500px){
  h1 {
  font-size: 40px;
  padding-top: 30px;
}
h2 {
  font-size: 20px;
}
button {
  margin-left: 20px;
}
h3{
    font-size: 15px;
  width: 300px;
}

.downloade  button {
  padding: 15px;
  width: 300px;
}
.downloade button a {
  font-size: 15px;
}

.BlivMedlem {
width: 400px;
}
}